# add node_modules to ignore list, frontend and backend
node_modules/
frontend/node_modules/
backend/node_modules/
dist/
frontend/dist/
backend/dist/

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore


